<!-- HTML -->
<!-- <html>
<form action="/users" method='post' accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Username:</label>
  <input type="text" name="user[username]"><br>
  <label for="name">Email:</label>
  <input type="text" name="user[email]"><br>
  <label for="name">Password:</label>
  <input type="text" name="user[password]"><br>
  <input type="submit" value="Submit">
</form>
</html> -->


<!-- More Railsy -->
<!-- <%= form_tag('/users', method:'post') do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %></br>
  <%= label_tag(:email, "Email:") %>
  <%= text_field_tag(:email) %></br>
  <%= label_tag(:password, "Password:") %>
  <%= text_field_tag(:password) %></br>
  <%= submit_tag("Submit") %>
<% end %> -->


<!-- Full Railsy -->
<%= form_for @user do |u| %>
  Username: <%= u.text_field :username%></br>
  Email:    <%= u.text_field :email%></br>
  Password: <%= u.text_field :password%></br>
  <%= u.submit "Submit" %>
<% end %>
